<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animal</title>
  </head>
  <body>
    <h1>Animal Details</h1>
    <br />
    <h2>{{animal.name}}</h2>
    <br />
    <p>ID: {{ animal.id }}</p>
    <p>Legs: {{ animal.legs }}</p>
    <p>Weight: {{ animal.weight }}</p>
    <p>Height: {{ animal.height }}</p>
    <p>Speed: {{ animal.speed }}</p>
    <p>Family: {{ animal.family }}</p>
  </body>
</html>
