<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animals Family</title>
  </head>
  <body>
    <h1>Animals in Family</h1>
    <ul>
      {% for animal in animals %}
      <li><a href="/animal/{{ animal.id }}">{{ animal }}</a></li>
      {% empty %}
      <li>No animals in this family</li>
      {% endfor %}
    </ul>
  </body>
</html>
