* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: rgb(86, 129, 80);
  display: grid;
  place-items: center;
}

.converter {
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 0 0 10px 2px rgba(28, 28, 28, 0.1);
  padding: 2em 5em;
  text-align: center;
}

#summary {
  font-weight: bold;
}

#switch {
  margin-block: 1em;
}
