<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>People</h1>
    <ul>
      {% for person in people %}
      <li>
        <a href="/people/{{person.id}}">{{ person.name }}</a>
        - Age: {{person.age}}, Country: {{ person.country }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
