<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'homepage' %}">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'add_film' %}">Add Film</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'add_director' %}"
        >Add Director</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="#">Add country</a>
    </li>
  </ul>
</div>
