<html>
  <head>
    <meta charset="UTF-8" />
    <title>ANIMAL</title>
    <style>
      li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Hello {{user.first_name}} {{user.last_name}}</h1> -->
    <h2>Hello, curios about {{animal.name}}?</h2>
    <h4>Today we are going to talk about</h4>
    <ul>
      <li>--{{animal.name}}--</li>
      <li>{{animal.name}} has {{ animal.legs}} legs</li>
      <li>Weight - {{animal.weight}}</li>
      <li>Height - {{animal.height}}</li>
      <li>Speed - {{animal.speed}}</li>
    </ul>
  </body>
</html>
